<div class="sh-use">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Как использовать крем "Акулий жир"?</h3>
      </div>
    </div>
    <div class="row hidden-sm hidden-xs">
      <div class="col-sm-2 col-sm-offset-1">
        <div class="sh-use-arrow"><span>1</span></div>
    </div>
    <div class="col-sm-2">
      <div class="sh-use-arrow"><span>2</span></div>
    </div> 
    <div class="col-sm-2">
      <div class="sh-use-arrow"><span>3</span></div>
    </div> 
    <div class="col-sm-2">
      <div class="sh-use-arrow"><span>4</span></div>
    </div>   
    <div class="col-sm-2">
      <div class="sh-use-arrow"><span>5</span></div>
    </div>
    </div>
    <div class="row hidden-sm hidden-xs">
      <div class="col-sm-2 col-sm-offset-1 use-card">
        <img src="./assets/images/sharkoil/how-1.png" alt="">
        <p>Возьмите небольшое 
            количество средства</p>
      </div>
      <div class="col-sm-2 use-card">
          <img src="./assets/images/sharkoil/how-2.png" alt="">
          <p>Нанесите на 
              проблемные зоны 
              (ноги, локти и т. д.)</p>
      </div>
      <div class="col-sm-2 use-card">
          <img src="./assets/images/sharkoil/how-3.png" alt="">
          <p>Массажными 
              движениями разотрите</p>
      </div>

      <div class="col-sm-2 use-card">
          <img src="./assets/images/sharkoil/how-4.png" alt="">
          <p>Возьмите небольшое 
              количество средства</p>
      </div>
      <div class="col-sm-2 use-card">
          <img src="./assets/images/sharkoil/how-5.png" alt="">
          <p>Возьмите небольшое 
              количество средства</p>
      </div>
    </div>
    <div class="row hidden-md hidden-lg use-mini-box">
      <div class="col-sm-12">
        <div class="use-mini use-odd">
          <div class="left-side">
            <img src="./assets/images/sharkoil/how-1--mob.png" alt="">
          </div>
          <div class="right-side">
            <p>Возьмите небольшое 
                количество средства</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="use-mini use-even">
            <div class="left-side">
                <p>Нанесите на проблемные 
                    зоны (ноги, локти и т.д.)</p>      
            </div>
            <div class="right-side">

                  <img src="./assets/images/sharkoil/how-2--mob.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-12">
            <div class="use-mini use-odd">
              <div class="left-side">
                <img src="./assets/images/sharkoil/how-3--mob.png" alt="">
              </div>
              <div class="right-side">
                <p>Массажными движениями разотрите</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
              <div class="use-mini use-even">
                <div class="left-side">
                    <p>Дайте крему впитаться</p>
                </div>
                <div class="right-side">
                  
                  <img src="./assets/images/sharkoil/how-4--mob.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
                <div class="use-mini use-odd">
                  <div class="left-side">
                    <img src="./assets/images/sharkoil/how-5--mob.png" alt="" class="img-5">
                  </div>
                  <div class="right-side">
                    <p>Повторяйте каждый день</p>
                  </div>
                </div>
              </div>
    </div>
  </div>
</div>