.bobby-how{
    padding-top:50px;
    padding-bottom:80px;
    position:relative;
    overflow:hidden
}
.bobby-how h3{
    text-align:center;
    color:#3498db;
    font-size:40px;
    font-weight:900;
    padding-bottom:80px
}
.bobby-how p{
    color:#3498db;
    font-size:16px;
    font-weight:300;
    text-align:center;
    padding-top:30px
}
.bobby-how .img-after:after{    
    content:url("/assets/images/bobby/after-img.png");
    position:absolute;
    right:-30px;
    bottom:150px
}
.bobby-how .centers{
    display: block;
    margin: 0 auto;
}

@media (min-width:768px) and (max-width:991px){
    .bobby-how{
        padding-top: 0px;
    }
    .bobby-how h3{
        padding-bottom: 20px;
    }
    .bobby-how .centers{
        width: 100%;
    }
    .bobby-how .img-after:after{  
        display: none;
    }
}

@media (min-width:500px) and (max-width:767px){
    .bobby-how{
        padding-top: 0px;
    }
    .bobby-how h3{
        padding-bottom: 20px;
    }
    .bobby-how .centers{
      
    }
    .bobby-how .img-after:after{  
        display: none;
    }

}

@media (max-width:499px){
    .bobby-how{
        padding-top: 0px;
    }
    .bobby-how h3{
        padding-bottom: 20px;
    }
    .bobby-how .img-after:after{  
        display: none;
    }

}