<div class="bobby-how">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Как заказать?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img class="centers " src="./assets/images/bobby/how-order-1.png" alt="">
          <p class="img-after">Вы оставляете <br>
            заявку на сайте
          </p>
        </div>
        <div class="col-sm-3">
          <img class="centers " src="./assets/images/bobby/how-order-2.png"  alt="">
          <p class="img-after">Мы связываемся  <br>
            с Вами
          </p>
        </div>
        <div class="col-sm-3">
          <img class="centers " src="./assets/images/bobby/how-order-3.png"  alt="">
          <p class="img-after">Отправляем Вашу  <br>
            посылку
          </p>
        </div>
        <div class="col-sm-3">
          <img class="centers " src="./assets/images/bobby/how-order-4.png"  alt="">
          <p>Вы оплачиваете  <br>
            при получении
          </p>
        </div>
      </div>
    </div>
  </div>