<div class="defence2">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <img class="defence2__number" src="./assets/images/bobby/02.png" alt="">
      </div>
      <div class="col-sm-11">
        <h3 class="defence2__title">Защита от попыток разрезать рюкзак</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <p class="defence2__content">
          Уникальное сочетание слоев, выполненных из разных материалов, надежно защитит ваши вещи. Вставка из цельного полипропилена создает твердый и надежный каркас, 
          защищающий все, что находится внутри рюкзака и не даст разрезать рюкзак. Верхний слой – это стильная ткань из полиэстера. За ней идет слой мягкого материала, защищающего от ударов
          , а после - несколько слоев ткани, обеспечивающие дополнительную защиту.
        </p>

        <button class="defence2__popup" (click)="popupWindow()">Получить консультацию</button>
      </div>
      <div class="col-sm-5">
        <img class="defence2__img" src="./assets/images/bobby/02-img.png" alt="">
      </div>
    </div>
  </div>
</div>