<div class="mango-func">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Функции крема «Mangosteen»</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <ul class="func__mid-left func-content">
          <li>Избавляет от растяжек</li>
          <li>Возвращает эластичность коже</li>
          <li>Подтягивает кожу</li>
          <li>Восстанавливает целостность кожного покрова на клеточном уровне</li>
        </ul>
      </div>
      <div class="hidden-xs hidden-sm col-md-2">
        <img class="func__mid-center" src="./assets/images/mangosteen/bottle.png" alt="">
      </div>
      <div class="col-sm-6 col-md-5">
        <ul class="func__mid-right func-content">
          <li>Увлажняет, питает и тонизирует</li>
          <li>Предотвращает появление растяжек</li>
          <li>Не вызывает раздражение и аллергию</li>
          <li>Обладает противовоспалительным действием</li>
        </ul>        
      </div>
    </div>
  </div>
</div>
