

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Получить консультацию</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #myFormPop="ngForm" (ngSubmit)="submitFormPop(myFormPop)" novalidate class="bob__pop_form">
                <!-- <div class="form-group">
                    <label for="selPopCountry">Выберите страну</label>
                    <select class="form-control" id="selPopCountry">
                      <option value="ru" >Россия</option>
                      
               
                    </select>
                  </div> -->
              <div class="form-group">
                <label for="bobbyPopName">Ваше имя</label>
                <input type="name" name="name" class="form-control" ngModel id="bobbyPopName"  placeholder="Введите ФИО" required>
               
              </div>
              <div class="form-group">
                <label for="bobbyPopPhone">Ваш телефон</label>
                <input type="number" name="phone" class="form-control" ngModel id="bobbyPopPhone" placeholder="Телефон" required>
              </div>
              <input type="hidden" name="thread" class="form-control" [(ngModel)]="thread">
              <input type="hidden" name="subid" class="form-control" [(ngModel)]="subid">
              <button type="submit" class="btn btn-primary send-top">Отправить заявку</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isModalShownThanks" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #ModalThanks="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left thanks-title">Поздравляем!</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="thanks-body">
                    <h2>Вы успешно оформили заявку</h2>
                    <h3>Мы свяжемся с Вами в ближайшее время</h3>
            </div>

        </div>
      </div>
    </div>
  </div>

<app-bobby-header (onCallPopupWindow)="callPopupWindow($event)" [thread]="thread" [subid]="subid" (callPopupThanks)="showModalThanks()"></app-bobby-header>
<app-advantages></app-advantages>
<app-defence (onCallPopupWindow)="callPopupWindow($event)"></app-defence>
<app-defence2 (onCallPopupWindow)="callPopupWindow($event)"></app-defence2>
<app-defence3 (onCallPopupWindow)="callPopupWindow($event)"></app-defence3>
<app-bobby-mid [thread]="thread" [subid]="subid" (callPopupThanks)="showModalThanks()"></app-bobby-mid>
<app-defence4  (onCallPopupWindow)="callPopupWindow($event)"></app-defence4>
<app-defence5  (onCallPopupWindow)="callPopupWindow($event)"></app-defence5>
<app-bobby-reviews (onCallPopupWindow)="callPopupWindow($event)"></app-bobby-reviews>
<app-bobby-how></app-bobby-how>
<app-bobby-footer (onCallPopupWindow)="callPopupWindow($event)" [thread]="thread" [subid]="subid" (callPopupThanks)="showModalThanks()"></app-bobby-footer>

