<div class="before-after">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>ДО/ПОСЛЕ </h3>
        <h3>НАНЕСЕНИЯ </h3>
        <h2>SILANE GUARD:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3" *ngFor="let effect of effectImages">
        <div class="ba-item">
          <img src={{effect.photo}} alt="" class="ba-img" (click)="popupba(effect.photo)">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShownAuto" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModalAuto="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Эффект использования silane guard</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img src={{currentImage}} alt="img" class="popup-auto">
      </div>
      <button class="modalbutton" (click)="popupWindow()">купить Silane guard</button>
    </div>
  </div>
</div>