
<div class="avantages" id="avantages">
    <div class="wrap">
        <div class="avantages_block">
            <h3>
                Преимущества покрытия<br>
                <span>SILANE GUARD:</span>
            </h3>
            <ul class="avantages_list">
                <li>
                    <div class="img_block"><img src="./assets/images/silane/img1.png" alt="img"></div>
                    <p>100% Made<br>
                        in Japan.
                    </p>
                </li>
                <li>
                    <div class="img_block"><img src="./assets/images/silane/img2.png" alt="img"></div>
                    <p>Однокомпонентный<br>
                        состав. Вам больше не надо<br>
                        нечего смешивать.
                    </p>
                </li>
                <li>
                    <div class="img_block"><img src="./assets/images/silane/img3.png" alt="img"></div>
                    <p>Одной упаковки<br>
                        хватает на 2-4<br>
                        автомобиля/слоя
                    </p>
                </li>
                <li>
                    <div class="img_block"><img src="./assets/images/silane/img4.png" alt="img"></div>
                    <p>Покрытие наносится<br>
                        предельно просто.<br>
                        Это сможет сделать<br>даже ребенок.
                    </p>
                </li>
            </ul>
                    </div>
    </div>
  </div>