<div class="sneakers">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-4">
        <div class="main-card">
          <div class="card-content-top">
            <div class="card-left">
                <img src="./assets/images/main/bio.png" alt="">
            </div>
            <div class="card-right">
              <h3 class="card-title">Кроссовки ECCO Biom</h3>
              <p class="card-desc">Сделан из натуральных и качественных материалов </p>
              <p class="card-desc2">Высокая износоустойчивость.
                  Четкие линии, лаконичный дизайн.
                  Имеет приятные тактильные свойства.
                  Качественные материалы.
                  Не растягивается и не трескается.</p>
              
            </div>
          </div>
          <div class="card-content-bot">
              <a routerLink="/biom">Подробнее</a>
          </div>

        </div>
      </div>
    
    </div>
  </div>
</div>