<div class="method">
  <div class="method-wrap-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="method-title">Метод нанесения Silane guard</h2>
            <img class="method-img hidden-lg" src="./assets/images/silane/wholesalers_mob.png" alt="">
          </div>
        </div>
      </div>

  </div>
  <img src="./assets/images/silane/download_price_arrow.png" alt="" class="arrow">
  <div class="method-button">
    <a class="buy" (click)="popupWindow()">Купить</a>
  </div>

</div>