<div class="bags">
  <div class="container">
    <div class="row">

        <div class="col-sm-6 col-lg-4">
            <div class="main-card">
              <div class="card-content-top">
                <div class="card-left">
                    <img src="./assets/images/main/bag.png" alt="">
                </div>
                <div class="card-right">
                  <h3 class="card-title">Рюкзак Bobby</h3>
                  <p class="card-desc">Лучший городской рюкзак 2017 года с защитой от карманников </p>
                  <p class="card-desc2">Рюкзак Bobby надежно защищен от воришек, которые захотят разрезать ваш рюкзак (внутри есть специальные вставки),
                     потайная застежка-молния и потайные карманы также будут держать ваши вещи в полной безопасности во время ваших поездок.</p>
                  
                </div>
              </div>
              <div class="card-content-bot">
                  <a routerLink="/bobbybag">Подробнее</a>
              </div>
    
            </div>
          </div>  
    </div>
  </div>
</div>