<div class="mango-opinion">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>Мненеие специалиста</h3>
        <p>«Однозначно — рекомендую! Крем «Mangosteen» сегодня наилучшее средство от растяжек. Как показала практика, стрии после его использования в 
          среднем через месяц исчезают. Это не чудо. Просто разработчики крема действительно постарались и включили в его состав нужные компоненты в идеальных пропорциях.
        </p>
        <p>
            Я считаю «Mangosteen» - подарок для женщин. Ведь каждая женщина мечтает выглядеть идеально. Крем не имеет абсолютно никаких противопоказаний, 
            благодаря натуральному составу. Мои пациентки довольны. Это главное. Могу еще посоветовать употреблять в пищу побольше белковой пищи»
        </p>
        <div class="doctor">
          <p>Анжелика Александровна Соколова,</p>
          <span>косметолог, дерматолог, стаж 11 лет</span>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="./assets/images/mangosteen/doc.png" alt="">
      </div>
    </div>
  </div>
</div>
