

<div class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <img class="logo" src="./assets/images/mangosteen/logo.png" alt="">
        </div>
        <div class="col-sm-9 col-md-9">
          <div class="header__top-content">
              <h3>Крем Mangosteen</h3>
              <p>Эффективное средство от растяжек №1 </p>
          </div>


        </div>
        <div class="col-sm-12 col-md-12">
            <ul class="header__top-list">
              <li>Вы стали мамой?</li>
              <li>Вы резко похудели?</li>
              <li>У вас появились растяжки?</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
<div class="header__mid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="header__mid-content">
            <p class="header__mid-text1">СТАНЬТЕ ОБЛАДАТЕЛЬНИЦЕЙ ГЛАДКОЙ 
                КОЖИ БЕЗ РАСТЯЖЕК С «MANGOSTEEN» 
                <strong>ВСЕГО ЗА ОДИН МЕСЯЦ!</strong></p>
            <p class="header__mid-text2">
                РАСТЯЖКИ? НЕТ. 
            </p>
            <p class="header__mid-text3">
              Красивая гладкая кожа? <strong>ДА!</strong>
            </p>
        </div>
        <div class="header__mid-img-sm hidden-lg hidden-sm hidden-md">
            <img class="top-bottle-sm" src="./assets/images/mangosteen/bottle.png" alt="">
          </div>
      </div>
      <div class="col-sm-5 col-md-3 col-lg-4">
        <div class="header__mid-price">
          <div class="prices">Цена сейчас:<span class="price-now">990 </span> руб.</div>
          <div class="prices">Старая цена:<span class="price-old">1980 </span> руб.</div>
        </div>
        <button class="btn btn-primary top-btn"  (click)="popupWindow()"> Заказать</button>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 hidden-xs">
        <div class="header__mid-img">
          <img class="top-bottle" src="./assets/images/mangosteen/bottle.png" alt="">
          <img class="top-woman" src="./assets/images/mangosteen/woman1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
