<div class="sh-reviews">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>
              Отзывы наших покупателей
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
  
            <carousel>
                <slide>
                  <div class="review-item">
                      <h4>Раиса, 34 года</h4>
                      <img src="./assets/images/sharkoil/feed1.png" alt="1 slide" style="display: block; width: 100%;">
                      
                      <p>Когда стали болеть и похрустывать пальцы, моя подруга посоветовала крем «Акулий жир». Я купила и очень рада, что послушалась ее  рекомендации! Перво-наперво крем избавил меня от боли и напряжения 
                        в кистях, а потом и хруст сошел на нет. Я могу нормально работать и заниматься домашними делами, почти не вспоминаю про болезнь. Заказываю теперь еще и маме, ей тоже понравился эффект.</p>
                  </div>
                </slide>
                <slide>
                    <div class="review-item">
                        <h4>Софья, 52 года</h4>
                        <img src="./assets/images/sharkoil/feed2.png" alt="2 slide" style="display: block; width: 100%;">
                        
                        <p>После 40 у меня начались боли в лодыжке, и я получила неутешительный диагноз – ревматоидный артрит. Чего я только не пробовала! Не хотелось 
                          оставаться в таком возрасте пассивной, ведь семья, дети…Только крем с акульим жиром принес мне облегчение! Очень советую всем, у кого проблемные суставы, ведь он действительно очень помогает.
                        </p>
                    </div>
                </slide>
                <slide>
                    <div class="review-item">
                      
                        <h4>Дмитрий, 45 лет</h4>
                        <img src="./assets/images/sharkoil/feed3.png" alt="3 slide" style="display: block; width: 100%;">
                        
                        <p>Про акулий жир слышал много хорошего, поэтому решил попробовать крем с ним для своих больных коленей. 
                          Очень скоро боли при подъеме на ноги утихли и спала отечность. Продолжаю пользоваться кремом «Акулий жир» и чувствую себя так, будто вернул здоровую молодость.
                        </p>
                      </div>
                </slide>
              </carousel>
        </div>
      </div>
    </div>
  </div>