.sh-reviews{
    background: url(/assets/images/sharkoil/dashboard__bg.jpg) no-repeat center;
    padding-bottom: 40px;
}
.sh-reviews h3{
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}
.review-item{
    padding-left: 50px;
    padding-right: 50px;
}
.review-item img{
    width: 120px!important;
    display: block;
    margin: 10px auto;
    border-radius: 50%;

}
.review-item h4{
    color: #333;
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

.review-item p{
    color: #333;
    font-size: 16px;
    text-align: center; 
    height: 110px; 
}
@media (min-width:768px) and (max-width:1199px) {
    .review-item p{
        height: 170px;
        font-size: 14px;
    }
}
@media (max-width:767px){
    .review-item p{
        height: 170px;
        font-size: 14px;
    }
}
@media (max-width:499px){
    .review-item p{
        height: 310px;
        font-size: 13px;
    }
    .review-item h4{
        font-size: 20px;
    }
    .sh-reviews{
        background-size: cover;
    }
}