<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 class="about-title">О компании Willson</h2>
        <p class="about-first">Всемирно известная компания по производству автокосметики, история которой насчитывает уже более 50 лет. 
          За это время у компании сформировались отделения в Осаке, Нагойе, Фукуоке, Саппоро и завод в пригороде Токио (Хигашимураяма).</p>
          <p>Willson Co. LTD производит и предлагает своим клиентам широкий спектр автохимии и препаратов по уходу за автомобилем, включая жидкое стекло
             WILLSON BODY GLASS GUARD, очистители, шампуни, принадлежности для мойки, препараты для восстановления лакокрасочных покрытий и ароматизаторы.
            </p>
            <p>На сегодняшний день на территории Японии продукция под торговой маркой Willson является лидером по объему продаж автокосметики.</p>
            <img src="./assets/images/silane/logo_about.png" alt="">
      </div>
    </div>
  </div>
</div>