<div class="mango__sert">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="sert__left sert-content">
          <h4>
              Продукт сертифицирован и максимально эффективен
          </h4>
          <p>Крем «Mangosteen» с большим успехом прошел масштабные клинические испытания. 
            Благодаря своей эффективности, «Mangosteen» отодвинул на последний план лазерные методы удаления растяжек.
          </p>
        </div>

      </div>
      <div class="col-sm-6">
          <div class="sert__right sert-content">
              <h4>
                  Абсолютно безопасен и эффективен даже для застарелых стриев
              </h4>
              <p>
                  Крем от растяжек «Mangosteen» полностью состоит из природных компонентов, не содержит парабены, красители, синтетические отдушки и продукты ГМО. 
                  Благодаря натуральному составу его можно использовать во время беременности и кормящим мамам.
              </p>
            </div>
      </div>
    </div>
  </div>
</div>
