<div class="res">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="res-titles">
          <h3>Результаты использования</h3>
          <h2>Silane Guard</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="res-item">
          <img src="/assets/images/silane/img11.png" alt="">
          <p>СОХРАНЯЕТ ОРИГИНАЛЬНЫЙ, ЯРКИЙ И НАСЫЩЕННЫЙ ЦВЕТ КУЗОВА.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="res-item">
          <img src="/assets/images/silane/img21.png" alt="">
          <p>ПРИДАЕТ СИЯЮЩИЙ БЛЕСК КУЗОВУ АВТОМОБИЛЯ В ТЕЧЕНИЕ ДОЛГОГО ВРЕМЕНИ – ДО 1 ГОДА!</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="res-item">
          <img src="/assets/images/silane/img31.png" alt="">
          <p>ДОПОЛНИТЕЛЬНО ПРИДАЕТ УСТОЙЧИВЫЙ ВОДООТТАЛКИВАЮЩИЙ ЭФФЕКТ.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="res-item">
          <img src="/assets/images/silane/img41.png" alt="">
          <p>ПРОЧНАЯ, КРЕМНИЙОРГАНИЧЕСКАЯ ПОЛИМЕРНАЯ ПЛЕНКА, УСИЛЕННАЯ ДИОКСИДОМ КРЕМНИЯ(SIO₂) НАДЕЖНО ЗАЩИЩАЕТ ОТ МЕЛКИХ ЦАРАПИН, 
          АГРЕССИВНОГО ВЛИЯНИЯ СОЛЕВЫХ РЕАГЕНТОВ В ЗИМНЕЕ ВРЕМЯ ГОДА И СИЛЬНОЩЕЛОЧНЫХ ШАМПУНЕЙ ПРИ БЕСКОНТАКТНЫХ МОЙКАХ.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a (click)="popupWindow()" class="res-buy">Купить</a>
      </div>
    </div>
  </div>
</div>