<div class="biom-review">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Отзывы покупателей</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="review-box">
          <img src="./assets/images/biom/user01.jpg" alt="">
          <p class="review-name">КСЮША</p>
          <p class="review-desc">Дешево, но и удобно и красиво! Мужчина счатлив - на каждый день - то, что надо!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="review-box">
          <img src="./assets/images/biom/user02.jpg" alt="">
          <p class="review-name">КСЕНИЯ</p>
          <p class="review-desc">Заказывала кроссовки Ecco biom. Откровенно говоря, думала, что за такую цену качество будет не очень. 
            Но теперь приятно удивлена. Очень удобные, мягкие, и, похоже, прослужат долго.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="review-box">
          <img src="./assets/images/biom/user04.jpg" alt="">
          <p class="review-name">АЛЕКСАНДР</p>
          <p class="review-desc">Оставил заявку, перезвонили, все объяснили и помогли выбрать нужный размер. Отправили заказ, 
            оплатил, получил и был доволен. Все как на картинке и соответствует описанию.</p>
        </div>
      </div>
    </div>
  </div>
</div>