<div class="creams">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="main-card">
          <div class="card-content-top">
            <div class="card-left">
                <img src="./assets/images/main/bottle.png" alt="">
            </div>
            <div class="card-right">
              <h3 class="card-title">Крем Mangosteen</h3>
              <p class="card-desc">Эффективное средство от растяжек №1 </p>
              <p class="card-desc2">Из-за содержания в нем экстракта экзотического фрукта мангустин. 
                Благодаря действию мощных антиоксидантов и микроэлементов рубцы постепенно исчезают. И никаких следов на теле.</p>
              
            </div>
          </div>
          <div class="card-content-bot">
            <a routerLink="/mangosteen">Подробнее</a>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
          <div class="main-card">
            <div class="card-content-top">
              <div class="card-left">
                  <img src="./assets/images/main/shark.png" alt="">
              </div>
              <div class="card-right">
                  <h3 class="card-title">Крем Sharkoil</h3>
                <p class="card-desc">Избавтесь от боли в суставах </p>
                <p class="card-desc2">Способствует активному заживлению тканей, активирует обменные процессы. 
                  Восстанавливает и укрепляет суставы при артрите и артрозах. Стимулирует выработку гиалуроновой кислоты, которая отвечает за здоровье хрящей.</p>
                
              </div>
            </div>
            <div class="card-content-bot">
                <a routerLink="/sharkoil">Подробнее</a>
            </div>
          </div>
        </div>
    
    </div>
  </div>
</div>