<div class="reasons" id="sale">
  <div class="container">
    <div class="row">
      <p class="reasons__heading text-center">Сделав заказ у нас, вы получите:</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/images/sharkoil/reasons__cup.png" class="center-block">
        <p class="reasons__heading-block text-center">Настоящий крем <br>«Акулий жир»<br>для суставов</p>
      </div>
      <div class="col-md-4">
        <img src="./assets/images/sharkoil/reasons__man.png" class="center-block">
        <p class="reasons__heading-block text-center">Выгодную <br>цену</p>
      </div>
      <div class="col-md-4">
        <img src="./assets/images/sharkoil/reasons__box.png" class="center-block">
        <p class="reasons__heading-block text-center">Быструю <br>доставку</p>
      </div>
    </div>
  </div>
</div>