<div class="main">
    <div class="container">
      <div class="row">
              <div class="col-sm-6 col-lg-4">
                <div class="main-card">
                  <div class="card-content-top">
                    <div class="card-left">
                        <img src="./assets/images/main/pop.png" alt="">
                    </div>
                    <div class="card-right">
                      <h3 class="card-title">Жидкое стекло Silane Guard</h3>
                      <p class="card-desc">Однокомпонентное "Жидкое стекло" от японской компании Willson </p>
                      <p class="card-desc2">Сохраняет оригинальный, яркий и насыщенный цвет кузова. Придает сияющий блеск кузову 
                        автомобиля в течение долгого времени – до 1 года! Дополнительно придает устойчивый водоотталкивающий эффект.</p>
                      
                    </div>
                  </div>
                  <div class="card-content-bot">
                      <a routerLink="/silane">Подробнее</a>
                  </div>
        
                </div>
              </div>
       
      </div>
    </div>
  </div>