<div class="bob-adv">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3> Преимущества рюкзака Bobby</h3>
           
          </div>
          
      
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-2">
            <img src="./assets/images/bobby/advantage-1.png" alt="">
            <p>Распределение <br> веса</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <img src="./assets/images/bobby/advantage-2.png" alt="">
            <p>Удобные<br> карманы</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <img src="./assets/images/bobby/advantage-3.png" alt="">
           <p>Подходит<br> велосепидистам</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <img src="./assets/images/bobby/advantage-4.png" alt="">
            <p>Эргономичный</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <img src="./assets/images/bobby/advantage-5.png" alt="">
            <p>Ударопрочный</p>
          </div>
          <div class="col-xs-6 col-sm-2">
            <img src="./assets/images/bobby/advantage-6.png" alt="">
            <p>USB-порт <br>
                для зарядки</p>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-2">
              <img src="./assets/images/bobby/advantage-7.png" alt="">
              <p>Открывается под 
                  <br>  разными углами</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <img src="./assets/images/bobby/advantage-8.png" alt="">
              <p>Молнии YKK</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <img src="./assets/images/bobby/advantage-9.png" alt="">
             <p>Удобная <br> лямка</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <img src="./assets/images/bobby/advantage-10.png" alt="">
              <p>Защита от <br> порезов
              </p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <img src="./assets/images/bobby/advantage-11.png" alt="">
              <p>Влагоустойчив</p>
            </div>
            <div class="col-xs-6 col-sm-2">
              <img src="./assets/images/bobby/advantage-12.png" alt="">
              <p>Защита от  <br>
                карманников</p>
            </div>
          </div>
      </div>
      
</div>
