<div class="defence4">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <img class="defence4__number" src="./assets/images/bobby/04.png" alt="">
      </div>
      <div class="col-sm-11">
        <h3 class="defence4__title">Безопасность ночью</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="defence4__img" src="./assets/images/bobby/04-img.png" alt="">
      </div>
      <div class="col-sm-5">

        <p class="defence4__content">
          Дизайн рюкзака Bobby позволяетт распределить вес так, что самые тяжелые предметы располагаются ближе всего к спине, а перегородки между отделениями не дают весу перемещаться при
           движении. Благодаря этому решению снижается нагрузка на плечи, и вес рюкзака воспринимается на 20-25% меньше, чем при использовании стандартных моделей рюкзаков.
        </p>

        <button class="defence4__popup" (click)="popupWindow()">Получить консультацию</button>
      </div>
    </div>
  </div>
</div>