<div class="mango-reviews">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>
            Отзывы наших покупателей
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

          <carousel>
              <slide>
                <div class="review-item">
                    <img src="./assets/images/mangosteen/review-01.png" alt="First slide" style="display: block; width: 100%;">
                    <h4>Кристина, 23 года</h4>
                    <p>«Крем превзошел все мои ожидания! Раньше испробовала бессчетное количество средств против растяжек, но тщетно. Теперь пользуюсь только Mangosteen. Кожа сразу становится гладенькой, заметно подтянутой, растяжки становятся менее заметными. Хочу посоветовать наносить крем после пилинга и хорошо массировать проблемные зоны для лучшего эффекта. На всю 
                      процедуру у меня уходит не больше получаса. С каждым разом я чувствую, как моя кожа преображается!»</p>
                </div>
              </slide>
              <slide>
                  <div class="review-item">
                      <img src="./assets/images/mangosteen/review-02.jpg" alt="First slide" style="display: block; width: 100%;">
                      <h4>Ольга, 30 лет</h4>
                      <p>«После родов на животе появились жуткие растяжки. Я чувствовала себя очень некомфортно даже перед собственным мужем! Смотреть на свое тело без слез было невозможно. Собиралась пойти на дорогие лазерные процедуры, но к своему счастью узнала про чудесное средство Mangosteen, с помощью которого мне удалось добиться невероятных результатов уже через месяц
                         - растяжки буквально рассосались! Спасибо производителям, что сэкономили мои сбережения! »</p>
                  </div>
              </slide>
              <slide>
                  <div class="review-item">
                      <img src="./assets/images/mangosteen/review-03.jpg" alt="First slide" style="display: block; width: 100%;">
                      <h4>Мария, 38 лет</h4>
                      <p>«Рождение моего сыночка — счастье. Но его омрачали растяжки на груди и животе. Мама посоветовала купить крем «Mangosteen». Он помог ее коллеге по работе. Заказала без раздумий. Тем более, я кормящая мама и другие средства пробовать было просто опасно для малыша. Ваш крем не имеет противопоказаний и натуральный. Это здорово. Главное, он помог. Кожа стала, как до беременности — гладкая и подтянутая. Рубцы были свежие, фиолетово-красные. Теперь цвет кожи обычный. Здорово! 
                        Я довольна и рекомендую крем всем женщинам. Порадовала и цена и быстрая доставка. Спасибо.»</p>
                  </div>
              </slide>
            </carousel>
      </div>
    </div>
  </div>
</div>