<div class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Реальные отзывы</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="review-item">
            <img src="./assets/images/silane/photo1.jpg" alt="" class="photo">
            <div class="review-content">
              <p>Могу сказать только одно, Willson silane guard — это средство из разряда must have для тех, кто заботится о внешнем виде собственного авто ! Оно отлично скрывает
                 мелкие царапины и паутинку на ЛКП. Существенно улучшает внешний вид авто. Лично у меня такое чувство, что я только забрал машину из салона!
                </p>
                <span>Андрей Васильев</span>
            </div>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="review-item">
          <img src="./assets/images/silane/photo2.jpg" alt="" class="photo">
          <div class="review-content">
            <p>Мне понравилось как выглядит авто после покрытия жидким стеклом, 
              думаю это лишним не будет так как мы семьей любим выезжать на природу и контакты с ветками и кустами не исключены.
              </p>
              <span>Елена Минина</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="review-item">
          <img src="./assets/images/silane/photo3.jpg" alt="" class="photo">
          <div class="review-content">
            <p>Эффект просто потрясающий! При корректном нанесении кузов начинает сверкать. Уходит паутина с кузова. Появляется
               отличная гидрофобность. Т. е вода скатывается (в том числе и грязь). Cкажу кратко: "Круто как услуга для своего любимого железного коня".
              </p>
              <span> Станислав Козырев</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="review-item">
          <img src="./assets/images/silane/photo4.jpg" alt="" class="photo">
          <div class="review-content">
            <p>У меня авто не новое, поэтому перед нанесением этой полироли сделал глубокую полировку. 
              Эффект получился мега мощный! Машинка сияет блестит, дождя не боится, кустов не боится. Всем советую 
              </p>
              <span>Владимир Бочкарев</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>