<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="main-card">
          <div class="card-content-top">
            <div class="card-left">
                <img src="./assets/images/main/bottle.png" alt="">
            </div>
            <div class="card-right">
              <h3 class="card-title">Крем Mangosteen</h3>
              <p class="card-desc">Эффективное средство от растяжек №1 </p>
              <p class="card-desc2">Из-за содержания в нем экстракта экзотического фрукта мангустин. 
                Благодаря действию мощных антиоксидантов и микроэлементов рубцы постепенно исчезают. И никаких следов на теле.</p>
              
            </div>
          </div>
          <div class="card-content-bot">
            <a routerLink="/mangosteen">Подробнее</a>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
          <div class="main-card">
            <div class="card-content-top">
              <div class="card-left">
                  <img src="./assets/images/main/shark.png" alt="">
              </div>
              <div class="card-right">
                  <h3 class="card-title">Крем Sharkoil</h3>
                <p class="card-desc">Избавтесь от боли в суставах </p>
                <p class="card-desc2">Способствует активному заживлению тканей, активирует обменные процессы. 
                  Восстанавливает и укрепляет суставы при артрите и артрозах. Стимулирует выработку гиалуроновой кислоты, которая отвечает за здоровье хрящей.</p>
                
              </div>
            </div>
            <div class="card-content-bot">
                <a routerLink="/sharkoil">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="main-card">
              <div class="card-content-top">
                <div class="card-left">
                    <img src="./assets/images/main/bag.png" alt="">
                </div>
                <div class="card-right">
                  <h3 class="card-title">Рюкзак Bobby</h3>
                  <p class="card-desc">Лучший городской рюкзак 2017 года с защитой от карманников </p>
                  <p class="card-desc2">Рюкзак Bobby надежно защищен от воришек, которые захотят разрезать ваш рюкзак (внутри есть специальные вставки),
                     потайная застежка-молния и потайные карманы также будут держать ваши вещи в полной безопасности во время ваших поездок.</p>
                  
                </div>
              </div>
              <div class="card-content-bot">
                  <a routerLink="/bobbybag">Подробнее</a>
              </div>
    
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="main-card">
                <div class="card-content-top">
                  <div class="card-left">
                      <img src="./assets/images/main/bio.png" alt="">
                  </div>
                  <div class="card-right">
                    <h3 class="card-title">Кроссовки ECCO Biom</h3>
                    <p class="card-desc">Сделан из натуральных и качественных материалов </p>
                    <p class="card-desc2">Высокая износоустойчивость.
                        Четкие линии, лаконичный дизайн.
                        Имеет приятные тактильные свойства.
                        Качественные материалы.
                        Не растягивается и не трескается.</p>
                    
                  </div>
                </div>
                <div class="card-content-bot">
                    <a routerLink="/biom">Подробнее</a>
                </div>
      
              </div>
            </div>

            <div class="col-sm-6 col-lg-4">
              <div class="main-card">
                <div class="card-content-top">
                  <div class="card-left">
                      <img src="./assets/images/main/pop.png" alt="">
                  </div>
                  <div class="card-right">
                    <h3 class="card-title">Жидкое стекло Silane Guard</h3>
                    <p class="card-desc">Однокомпонентное "Жидкое стекло" от японской компании Willson </p>
                    <p class="card-desc2">Сохраняет оригинальный, яркий и насыщенный цвет кузова. Придает сияющий блеск кузову 
                      автомобиля в течение долгого времени – до 1 года! Дополнительно придает устойчивый водоотталкивающий эффект.</p>
                    
                  </div>
                </div>
                <div class="card-content-bot">
                    <a routerLink="/silane">Подробнее</a>
                </div>
      
              </div>
            </div>
     
    </div>
  </div>
</div>