<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Вопрос-ответ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="faq-item question">
          <h4 class="faq-name">Арман </h4>
          <p class="faq-content">Здравствуйте, скажите когда следует наносить 2 и последующей слои?</p>
        </div>
        <div class="faq-item answer">
            <h4 class="faq-name">Менеджер Сергей  </h4>
            <p class="faq-content">Производитель рекомендует наносить 2-й и последующий слой с интервалом 1-1,2 часа.</p>
        </div>

        <div class="faq-item question">
            <h4 class="faq-name">Арман </h4>
            <p class="faq-content">Здравствуйте, скажите когда следует наносить 2 и последующей слои?</p>
          </div>
          <div class="faq-item answer">
              <h4 class="faq-name">Менеджер Сергей  </h4>
              <p class="faq-content">Производитель рекомендует наносить 2-й и последующий слой с интервалом 1-1,2 часа.</p>
          </div>

          <div class="faq-item question">
              <h4 class="faq-name">Игорь </h4>
              <p class="faq-content">Здравствуйте. Можно немного подробнее о нанесении данного состава в несколько слоев. 
                Последовательность действий. Когда наносить каждый последующий слой?</p>
            </div>
            <div class="faq-item answer">
                <h4 class="faq-name">Менеджер Сергей  </h4>
                <p class="faq-content">Нанесение каждого последующего слоя SG, осуществляется после выстаивания в 1 час предыдущего. Чем больше слоёв Вы наносите, 
                  тем дольше должен выстаиваться автомобиль в боксе. 1-2 слоя - 12 часов, 3-4 слоя - 24 часа, 5-10 слоев 48 - 74 часов....</p>
            </div>

            <div class="faq-item question">
                <h4 class="faq-name">Михаил </h4>
                <p class="faq-content">Мы маленькая компания, в основе стратегии нашего развития лежит постоянное увеличение объема продаж, 
                  достигнуть который можно только невысокой ценой.</p>
              </div>
              <div class="faq-item answer">
                  <h4 class="faq-name">Менеджер Сергей  </h4>
                  <p class="faq-content">Производитель рекомендует наносить 2-й и последующий слой с интервалом 1-1,2 часа.</p>
              </div>

              <div class="faq-item question">
                  <h4 class="faq-name">Никита </h4>
                  <p class="faq-content">Мы маленькая компания, в основе стратегии нашего развития лежит постоянное увеличение объема продаж, 
                    достигнуть который можно только невысокой ценой.</p>
                </div>
                <div class="faq-item answer">
                    <h4 class="faq-name">Менеджер Сергей  </h4>
                    <p class="faq-content">Честно скажем, что максимальный гидрофобный эффект достигается после 3-4 слоя, повторюсь, это я говорю про максимальный. Что бы его поддержать, 
                      достаточно 1 раз в месяц мыть машину с применением шампуня Willson Glass Body Maintenance Shampoo (он есть у нас в продаже).</p>
                </div>
      </div>
      </div>
  </div>

</div>