<div class="mango-why">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="mango-why-title">Почему крем беспощаден
            к растяжкам на коже?</h2>
        <p class="mango-why-desc">Из-за содержания в нем экстракта экзотического
           фрукта мангустин. Благодаря действию мощных антиоксидантов и микроэлементов рубцы постепенно исчезают. И никаких следов на теле.
        </p>
      </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 hidden-lg">
            <img src="./assets/images/mangosteen/mangustin-img.png" alt="" class="mango-why-img">
          </div>
      <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0">
        <div class="mango-why-cont">
          <h4>КСАНТОНЫ</h4>
          <p>Это уникальный антиоксидант. Он творит настоящие чудеса. 
            Благодаря ксантонам в клетках активно вырабатываются эластин и коллаген. Кожный покров начинает выравниваться, 
            приобретая здоровый цвет.
          </p>
        </div>
        <div class="mango-why-cont">
            <h4>ВИТАМИН С</h4>
            <p>Быстро обновляет клетки кожи. Происходит интенсивная выработка эластина. 
              Природный антиоксидант. Предотвращает появление новых растяжек. Ускоряет процесс уменьшения рубцов.
            </p>
          </div>
          <div class="mango-why-cont">
              <h4>ЖЕЛЕЗО</h4>
              <p>Насыщает клетки кожи кислородом, тонизирует. Выравнивает цвет.
              </p>
            </div>
      </div>
      <div class="hidden-xs hidden-sm hidden-md col-lg-4">
        <img src="./assets/images/mangosteen/mangustin-img.png" alt="" class="mango-why-img">
      </div>
      <div class="col-sm-5 col-md-5 col-lg-4">
          <div class="mango-why-cont">
            <h4>РЕТИНОЛ</h4>
            <p>Обладает мощным действием на клетки кожи. Происходит ускоренный 
              синтез белка, деление клеток, производя коллаген в дерме. Уменьшает красноту в области стрии, сглаживает старые рубцы.
            </p>
          </div>
          <div class="mango-why-cont">
              <h4>БИОТИН</h4>
              <p>Отвечает за процесс регенерации новых клеток. Обеспечивает правильный углеводный и жировой обмен, улучшает состояние кожных покровов. Устраняет дряблость.
              </p>
              <p>Все эти микроэлементы в сочетании способны за месяц вернуть вам гладкую, нежную кожу без шероховатостей и растяжек.</p>
            </div>

        </div>
    </div>
  </div>
</div>
