<div class="bobby-reviews">
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Отзывы покупателей</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="comment">
					Рюкзак пришёл за 5 дней. Упакован хорошо. Качество очень хорошее, не пожалел что купил, использую
					каждый день в институт и на работу, вмещается всё что необходимо, usb порт для power bank очень
					полезный.
				</p>
				<h6>Евгений, 22 года</h6>
				<img class="stars" src="./assets/images/bobby/stars.png" alt="">
				<p class="comment">
					Качество исполнения очень хорошее, куча внутренних кармашков и система открытия как чемодан, сзади
					тебе его точно не откроют... По итогу покупкой доволен! можно брать!
				</p>
				<h6>Андрей, 35 лет</h6>
				<img class="stars" src="./assets/images/bobby/stars.png" alt="">
      </div>
      <div class="col-sm-4">
        <img class="reviews-img" src="./assets/images/bobby/product-comment.png" alt="">
      </div>
      <div class="col-sm-4">
          <p class="comment">
              Рюкзак прекрасный! Заказывала мужу в подарок, он в восторге. Очень качественно сделан.
               Много карманов. Есть место под ноутбук. Наш с диагональю 15,4 отлично помещается. Плюс usb-вход. В Саранск пришёл за 7 дней.
          </p>
          <h6>Юлия, 27 лет</h6>
          <img class="stars" src="./assets/images/bobby/stars.png" alt="">
          <p class="comment">
              Быстрая доставка! Утром заказал, днем уже звонт курьер! А рюкзак вообще бомба. подойдёт под все. как в офис так и на учёбу. в общем я доволен.
          </p>
          <h6>Олег, 29 лет</h6>
          <img class="stars" src="./assets/images/bobby/stars.png" alt="">
        </div>
      </div>
      <div class="reviews-bot">

     
      <div class="row">
          <div class="col-sm-4">
            <div class="new-price"><span class="new-p">новая цена</span> <p> 2990 <span class="currency"> РУБ.</span></p> </div>
          </div>
          <div class="col-sm-4">
              <button class="reviews__popup" (click)="popupWindow()">Получить консультацию</button>
          </div>
          <div class="col-sm-4">
              <div class="old-price"><span class="old-p">старая цена</span> <p> 5980 <span class="old-currency"> РУБ.</span></p> </div>
            </div>
      </div>
  </div>
  </div>
</div>
