<div class="sh-adv" id="sh-adv">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Что делает крем с акульим жиром таким эффективным?</h3>
      </div>
    </div>
  </div>
  <div class="sh-adv-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="adv-card adv-card-tleft adv-odd">
            
              <div class="card-left">
                  <h4>Акулий жир</h4>
                  <p>Способствует активному
                      заживлению тканей, активирует
                      обменные процессы</p>
              </div>
              <div class="card-right">
                <img src="./assets/images/sharkoil/water.png" alt="">
              </div>
           
          </div>
          
        </div>
        <div class="col-md-6">
            <div class="adv-card adv-card-tright adv-even">
                <div class="card-right">
                  <img src="./assets/images/sharkoil/acid.png" alt="">
                </div>
                <div class="card-left">
                    <h4>ГЛЮКОЗАМИН</h4>
                    <p>Восстанавливает и укрепляет 
                        суставы при артрите 
                        и артрозах</p>
                </div>
             
            </div>
        </div>
        <div class="col-md-6">
            <div class="adv-card adv-card-tleft adv-odd">
            
                <div class="card-left">
                    <h4>ХОНДРОИТИН</h4>
                    <p>Стимулирует выработку 
                        гиалуроновой кислоты, которая
                        отвечает за здоровье хрящей</p>
                </div>
                <div class="card-right">
                  <img src="./assets/images/sharkoil/fruits.png" alt="">
                </div>
             
            </div>
        </div>

        <div class="col-md-6">
            <div class="adv-card adv-card-tright  adv-even">
                <div class="card-right">
                  <img src="./assets/images/sharkoil/jelly.png" alt="">
                </div>
                <div class="card-left">
                    <h4>КАМФОРА</h4>
                    <p>Снимает воспаления и боль 
                        при обострениях болезней 
                        суставов, хрящей и связок</p>
                </div>
             
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
