<div class="defence">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <img class="defence__number" src="./assets/images/bobby/01.png" alt="">
      </div>
      <div class="col-sm-11">
        <h3 class="defence__title">Защита от карманников</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <img class="defence__img" src="./assets/images/bobby/01-img.png" alt="">
      </div>
      <div class="col-sm-6">
        <p class="defence__content">
          Ежедневно в мире совершается более 400 тысяч мелких карманных краж. Теперь благодаря специальному защищенному рюкзаку Bobby вам не придется беспокоиться об этом.
        </p>
        <p class="defence__content">
          Рюкзак Bobby надежно защищен от воришек, которые захотят разрезать ваш рюкзак (внутри есть специальные вставки), потайная застежка-молния и потайные карманы также будут держать ваши вещи в полной безопасности во время ваших поездок.
        </p>
        <p class="defence__content">
          Рюкзак Bobby сконструирован так, что молния скрыта на тыльной стороне рюкзака, прилегающей к спине. Расстегнуть его пока он на вашей спине просто невозможно.
        </p>

        <button class="defence__popup" (click)="popupWindow()">Получить консультацию</button>
      </div>
    </div>
  </div>
</div>