<div class="biom-how">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Что вы получаете</h2>
      </div>
      <div class="col-sm-12">
        <ul class="biom-how-list">
          <li class="how-item">
            <img src="./assets/images/biom/sewing_taylor-09-512.png" alt="" class="how-img">
            <div class="how-desc">
              <h3>Новейшие технологии</h3>
              <p>Идеальная посадка ноги позволяет чувствовать себя уверенно в любой ситуации</p>
            </div>
          
          </li>
          <li class="how-item">
              <img src="./assets/images/biom/streamline.png" alt="" class="how-img">
              <div class="how-desc">
                <h3>КАЧЕСТВЕННАЯ ПОДОШВА</h3>
                <p>Легкая гибкая подошва идеально подходит как для комфортной ходьбы, так и для занятий спортом</p>
              </div>
            </li>
            <li class="how-item">
                <img src="./assets/images/biom/euro.png" alt="" class="how-img">
                <div class="how-desc">
                  <h3>100% ГАРАНТИЯ КАЧЕСТВА</h3>
                  <p>Обувь изготавливается в Дании по высоким стандартам качества  </p>
                </div>
              </li>
              <li class="how-item">
                  <img src="./assets/images/biom/thumb34.png" alt="" class="how-img">
                  <div class="how-desc">
                    <h3>ИЗНОСОСТОЙКОСТЬ И ДОЛГОВЕЧНОСТЬ</h3>
                    <p>Срок эксплуатации заявленный производителем 3-4 сезона </p>
                  </div>
                </li>
        </ul>
      </div>
    </div>
  </div>


</div>
<div class="how2" id="how2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="how-bot">Как мы работаем</h2>
        <p class="how-bot-desc">Заказать у нас обувь очень просто и удобно</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="how-box">
          <div class="how-num">1</div>
          <p class="how-desc2">Вы оставляете бесплатную заявку на сайте</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="how-box">
          <div class="how-num">2</div>
          <p class="how-desc2">Наш менеджер связывается с Вами для подтверждения заказа</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="how-box">
          <div class="how-num">3</div>
          <p class="how-desc2">Мы проверяем, упаковываем, отправляем товар</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="how-box">
          <div class="how-num">4</div>
          <p class="how-desc2">Вы оплачиваете при получении товара</p>
        </div>
      </div>

    </div>
  </div>
</div>