<div class="defence3">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-1">
        <img class="defence3__number" src="./assets/images/bobby/03.png" alt="">
      </div>
      <div class="col-sm-11 col-md-11">
        <h3 class="defence3__title">Защита от карманников</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-8">
        <img class="defence3__img" src="./assets/images/bobby/03-img.png" alt="">
      </div>
      <div class="col-sm-6 col-md-4">

        <p class="defence3__content">
          Дизайн рюкзака Bobby позволяетт распределить вес так, что самые тяжелые предметы располагаются ближе всего к спине, а перегородки между отделениями не дают весу перемещаться при
           движении. Благодаря этому решению снижается нагрузка на плечи, и вес рюкзака воспринимается на 20-25% меньше, чем при использовании стандартных моделей рюкзаков.
        </p>

        <button class="defence3__popup" (click)="popupWindow()">Получить консультацию</button>
      </div>
    </div>
  </div>
</div>