<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer__left">
          <h3 class="footer-title">Наш асортимент</h3>
          <h4 class="footer-cat-title">Крема</h4>
          <ul class="footer-list">
           <li><a routerLink="/sharkoil">Крем "Акулий жир"</a></li>
           <li><a routerLink="/mangosteen">Крем "Mangosteen"</a></li>
         </ul>

          <h4 class="footer-cat-title">Кроссовки</h4>
          <ul class="footer-list">
            <li><a routerLink="/biom">Кроссовки Ecco Biom</a></li>
          </ul>
          <h4 class="footer-cat-title">Рюкзаки</h4>
          <ul class="footer-list">
            <li><a routerLink="/bobbybag">Рюкзак Bobby + Powerbank в подарок</a></li>
          </ul>
          <h4 class="footer-cat-title">Для авто</h4>
          <ul class="footer-list">
            <li><a routerLink="/silane">Жидкое стекло Silane guard</a></li>
          </ul>
        </div>
      </div>
    
      <div class="col-sm-4">
        <h3 class="footer-title">Мы в соц сетях</h3>
        <ul class="footer-list-soc">
          <li><a href="https://www.facebook.com/Your-happy-shopping-1056439904504235/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://www.instagram.com/yourhappyshopping/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="" target="_blank"><i class="fa fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3 class="footer-title">Support</h3>
        <a routerLink="/policy" class="privacy">Политика конфиденциальности</a>
        <a class="privacy" href="mailto:yourhappyshopping@gmail.com">Техподдержка</a>
      </div>
      
    </div>
    
     
    
  </div>
  <div class="copyright">Все права защищены, 2018г.</div>
</footer>
