<div class="warranty">
  <div class="container">
    <div class="row">
      <p class="warranty__heading text-center">Внимание! Остерегайтесь подделок!</p>
    </div>
    <div class="row">
      <div class="warranty__card">
        <div class="warranty__girl">
          <div class="doc"><a href="./assets/images/sharkoil/doc.jpg" class="text_doc" target="_blank">СЕРТИФИКАТ</a></div>
        </div>
        <div class="warranty__mark"></div>
        <div class="warranty__container pull-right text-center">
          <p class="warranty__content--pink">
            Крем «Акулий жир» очень популярное и эффективное средство, поэтому в интернете стали все чаще появляться подделки. Не дайте себя обмануть!
          </p>
          <p class="warranty-content">.........................................................................</p>
          <p class="warranty-content">
            Настоящий крем с акульим жиром от болезней суставов вы можете купить только в нашем магазине. Мы являемся официальным поставщиков на территории России и гарантируем вам качество всей продукции.
          </p>
          <p class="warranty__content--pink text-center">БУДЬТЕ ЗДОРОВЫ!</p>
        </div>
      </div>
    </div>
  </div>
</div>